/* Utility */
:root{
    --primary: #1ABC9C;
    --secondary:#2C3E50;
    --white:#FFFFFF;
    --banner:#3A546D;
}
/* Endutility */


/* Banner */
#site_header{
    background-color: var(--banner);
}

/* EndBanner */

/* Bootstrap */
.boot_strap{
    background-color: var(--primary);
}
.vertical_line{
    width: 150px;
    height: 5px;
    background-color: var(--white);
}
.img_body_color{
    background-color: var(--primary);
}
/* EndBootstrap */

/* portfolio */
.debug{
    background-color: red;
    height: 100px;
    border: 1px solid black;
}
/* EndPortfolio */


/* About */
.about{
    background-color: var(--primary);
}
.btn_primary{
    background-color: var(--primary);
    border: 1px solid white;
    color: white;
}
/* EndAbout */



/* contact */
.social{
    background-color: var(--banner);
}
/* endcontact */


/* copiright */
.copiright{
    background-color: var(--secondary)
}
/* EndCopiright */