/* Utility */
:root{
    --primary: #1ABC9C;
    --secondary:#2C3E50;
    --white:#FFFFFF;
    --banner:#3A546D;
}
/* Endutility */

.background_color{
    background-color: var(--banner);
}
.top_banner .row .debug{
    width: 200px;
    height: 50px;
    background-color: aquamarine;
}
