/* Utility */
:root{
    --primary: #1ABC9C;
    --secondary:#2C3E50;
    --white:#FFFFFF;
    --banner:#3A546D;
}
/* Endutility */


/* Banner */
.background_color{
    background-color: var(--banner);
}
.top_banner .row .debug{
    width: 200px;
    height: 50px;
    background-color: aquamarine;
}
/* EndBanner */

/* Bootstrap */
.boot_strap{
    background-color: var(--primary);
}

.boot_strap .debug{
    width: 300px;
    height: 300px;
    background-color: black;
    margin: auto;
}
/* EndBootstrap */

/* portfolio */
.debug{
    background-color: red;
    height: 100px;
}


/* EndPortfolio */